.people-list-header {
  background-color: #f3f5f6;
  padding: 5px;
  font-size: 15px;
  font-weight: normal;
}

.people-list-spacing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.small-link {
  font-size: 10px;
}
