.feed-body {
  padding-top: 35px;
  background-color: #e6e8eb
}

.new-content-header {
  background-color: #f6f8fb;
  padding: 5px;
  font-size: 10px;
  font-weight: lighter;
}

.thumbnail-image {
  width: 40px;
  border-radius: 20px;
  margin: 10px;
}

.new-post-content {
  margin-top: 15px;
  width: 90%;
  border: none;
  outline: none;
  font-size: 15px;
}

.divider {
  width: 90%
}

.new-content-media {
  color: #bfbfbf;
}
